page-survey {
    .noUi-tooltip {
        // I'm sure there is a better way to force the tooltip to the 
        // bottom of the page, but this worked in a pinch. 
        bottom: -275% !important;
    }

    .noUi-value {
        font-size: 1.2rem;
        top: 40%;

        // Disable unhelpful transform property.
        transform: initial;
        -webkit-transform: initial;

        // Special positioning needs for 100% label on right side.
        &[data-value="100"] {
            right: -5px;
            left: initial !important;
        }
    }
}
